{{#footerlogoimage}}  
<div class="footer-logo-holder">
	<img loading="lazy" class="footer-logo footer-logo-custom" src="{{{footerlogoimage}}}" alt="logo"/>
</div>
{{/footerlogoimage}}

{{#footerbrandingblock}}  
<div class="footer-about-block">
	{{{footerbrandingblock}}}
</div>
{{/footerbrandingblock}}  

