{{#usefaq}}

<!-- ******FAQ****** --> 
<div class="faq-section">
	<div class="container-fluid">
	    <div class="faq-section-inner {{#faqsectionimage}}faq-has-figure{{/faqsectionimage}}">
		    
		    <div class="bg-pattern-wrapper-alt">
			    <div class="circle-lb"></div>
			    <div class="circle-rb"></div>
			    
		    </div>
		    
		
	        <div class="row" >
		        
		        {{#faqsectionimage}}
		        <div class="faq-figure-col col-12 col-md-5">
		            <div class="faq-figure-holder">
		            </div>
	            </div><!--//faq-figure-col-->
	            {{/faqsectionimage}}
	            
		        <div class="faq-content-col col-12 col-md-6 offset-md-5">     
				    <div id="faq-accordion">
					    {{#faqsectiontitle}}
					    <h2 class="section-title">{{{faqsectiontitle}}}</h2>
					    {{/faqsectiontitle}}
				          
				          
				          {{#faqsectionintro}}
				          <div class="section-intro">
					          {{{faqsectionintro}}}
				          </div><!--//faq-intro-->
				          {{/faqsectionintro}}
				                           				                
				                {{#faq1title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq1" class="card-toggle collapsed" href="#faq1" aria-expanded="false" aria-controls="faq1"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq1title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq1" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq1content}}
					                        
					                        {{{faq1content}}}
				                            
				                            {{/faq1content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq1title}}
				                
				                 {{#faq2title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq2" class="card-toggle collapsed" href="#faq2" aria-expanded="false" aria-controls="faq2"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq2title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq2" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq2content}}
					                        
					                        {{{faq2content}}}
				                            
				                            {{/faq2content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq2title}}
				                
				                {{#faq3title}}
								<div class="card">
								    <div class="card-header">
								        <h4 class="card-title"><a  data-bs-toggle="collapse" data-bs-target="#faq3" class="card-toggle collapsed" href="#faq3" aria-expanded="false" aria-controls="faq3"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq3title}}}</a></h4>
								    </div>
								
								    <div class="card-collapse collapse" id="faq3" data-parent="#faq-accordion">
								        <div class="card-body">
								            {{#faq3content}}
								            
								            {{{faq3content}}}
								            
								            {{/faq3content}}
								        </div>
								    </div>
								</div><!--//card-->
								{{/faq3title}} 
								
								 
				                {{#faq4title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq4" class="card-toggle collapsed" href="#faq4" aria-expanded="false" aria-controls="faq4"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq4title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq4" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq4content}}
					                        
					                        {{{faq4content}}}
				                            
				                            {{/faq4content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq4title}}
								
								{{#faq5title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq5" class="card-toggle collapsed" href="#faq5" aria-expanded="false" aria-controls="faq5"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq5title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq5" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq5content}}
					                        
					                        {{{faq5content}}}
				                            
				                            {{/faq5content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq5title}}
				                
				                {{#faq6title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq6" class="card-toggle collapsed" href="#faq6" aria-expanded="false" aria-controls="faq6"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq6title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq6" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq6content}}
					                        
					                        {{{faq6content}}}
				                            
				                            {{/faq6content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq6title}}
				                
				                {{#faq7title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq7" class="card-toggle collapsed" href="#faq7" aria-expanded="false" aria-controls="faq7"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq7title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq7" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq7content}}
					                        
					                        {{{faq7content}}}
				                            
				                            {{/faq7content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq7title}}
				                
				                {{#faq8title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq8" class="card-toggle collapsed" href="#faq8" aria-expanded="false" aria-controls="faq8"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq8title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq8" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq8content}}
					                        
					                        {{{faq8content}}}
				                            
				                            {{/faq8content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq8title}}
				                
				                {{#faq9title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq9" class="card-toggle collapsed" href="#faq9" aria-expanded="false" aria-controls="faq9"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq9title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq9" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq9content}}
					                        
					                        {{{faq9content}}}
				                            
				                            {{/faq9content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq9title}}
				                
				                
				                {{#faq10title}}
				                <div class="card">
				                    <div class="card-header">
				                        <h4 class="card-title"><a data-bs-toggle="collapse" data-bs-target="#faq10" class="card-toggle collapsed" href="#faq10" aria-expanded="false" aria-controls="faq10"><i class="fa fa-info-circle" aria-hidden="true"></i>{{{faq10title}}}</a></h4>
				                    </div>
				        
				                    <div class="card-collapse collapse" id="faq10" data-parent="#faq-accordion">
				                        <div class="card-body">
					                        {{#faq10content}}
					                        
					                        {{{faq10content}}}
				                            
				                            {{/faq10content}}
				                        </div>
				                    </div>
				                </div><!--//card-->
				                {{/faq10title}}
				                
				                {{#hasfaqcta}}
						        <div class="more">
						            <a class="btn theme-btn-cta" href="{{{faqurl}}}" {{#urlopennew}}target="_blank"{{/urlopennew}}>{{{faqbutton}}}</a>
						        </div>
						        {{/hasfaqcta}}
						        
				            </div><!--//faq-accordion-->
		        </div><!--//faq-content-col-->
		        
	           
		 
		    </div><!--//row-->
	        
	        
	</div><!--//faq-section-inner-->
	</div><!--//container-->    
</div><!--//faq-section-->
    
{{/usefaq}}